/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media (max-width: 768px) {
  .admin-button {
    margin-left: 15px;
  }
}

/* Feeds page items
-------------------------------------------------- */
.article-messages {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 1px;
}

ul.feed {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li.article {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 0;
}

.panel-body.arxiv {
  padding: 0;
}

.panel-heading.arxiv:hover {
  background-color:#C4E3F3; 
}

.article-button-holder {
padding-bottom:10px;
}

/* Toggles and Checklist Format
-------------------------------------------------- */
.toggle {
  cursor:pointer;
}

.bootstrap-switch-container span { 
  white-space: nowrap; 
}

.bootstrap-switch-container {
  width: 100%;
}

.section-toggle-button {
  white-space:normal;
}

a.btn-info.active:hover { 
    background-color: #28a1c4;
}

td.rating {
  text-align:right;
}

#toggle-content {
 padding-bottom:20px;
}

.cal-input:hover {
  background-color:#E4E4E4;
}
/* Jumbotron things
-------------------------------------------------- */

span.user-sup {
  white-space: nowrap;
}

sup { 
  position: relative; left: -0.3em; 
}

.voted.paper.btn-group {
  padding-right: 5px;
}
.voted-abstracts .list-group-item {
  background: transparent;
  border: none;
  padding-top:7px;
  padding-bottom:7px;
}


.voted-paper-abstract {
  border: 1px solid #CCC;
  border-radius: 2px;
  width: 94%;
  margin: 10px auto;
  padding:20px 25px;
  background-color: #FFF;
}

.voted-abstracts p {
  font-size: 14px;
  padding:0;
  margin:0;
}

.voted-abstracts h5 {
  margin: 0px;
  padding-top:0;
}

.voted-abstracts h4 {
  margin: 0px;
  padding:0;
  padding-bottom:5px;
}
.voted.article-button-holder {
padding:10px;
padding-left: 0px;
}

p#user-voters{
  margin:2px;
  font-size: 14px;
}

.paper-title-voted {
 
}

.vote-label {
  display: block;
  float: left;
  height: 19px;
  font-size: 11px;
  line-height: 14px;
  min-width: 30px;
}

.vote-bump {
  height:19px;
  float:left;
  margin-left: 3px;
  margin-right: 7px;
}
